{{ define "main" }}
  <!-- <div class="homepage-content">
    {{.Content}}
  </div> -->
  <div class="body-fade fadeInDown">
  <div class="container">
    <div class="row">
      <div class="eight columns intro" style="margin-top: 2%">    
        <div id = "about">
        <b style="font-size:1.2em; color: rgba(0, 0, 0, 0.75)">About me</b>
        <br>
        Hi! I am a PhD student at the University of Toronto and the Ontario Institute for Cancer Research studying computational biology and molecular genetics. I'm particularly interested in the fusion of evolutionary biology, learning algorithms, and cancer genomics.</div></p>
      </div>
    </div>
  </div>
  </div>

{{ end }}